html {
  font-size: 10px;
  background: url(https://picsum.photos/1000/1000/?random) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#content {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}